.section__posts {
   background: url('../../img/PostPage/bg.jpg') 0 0 / cover no-repeat;
   padding-top: 30px;
   height: 100vh;
   overflow: scroll;
   
}
.posts__container{
   max-width: 1110px;
   margin: 0 auto;
   
}